@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import 'libs/bootstrap-reboot.min';
@import 'libs/animate';

@import 'base/animations';
@import 'base/variables';
@import 'base/mixins';

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: #2b2b2b;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.divider {
  width: 60px;
  height: 3px;
  background-color: $main-subcolor;
  margin: 25px auto 0;
}

@import 'blocks/header';
@import 'blocks/menu';
@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/button';
@import 'blocks/about';
@import 'blocks/resume';
@import 'blocks/skills';
@import 'blocks/portfolio';
@import 'blocks/contacts';
@import 'blocks/modal';
