.btn {
  padding: 16px 24px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #2b2b2b;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.2s ease;
  &:hover {
    color: #2b2b2b;
    text-decoration: none;
    transform: translateY(-2px);
  }
}

.showmore-button {
  display: flex;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin: 0 auto;
  border: 2px solid #2b2b2b;
  border-radius: 50%;
  font-size: 64px;
  line-height: 32px;
    animation: showmore-button infinite 1.25s ease-in-out;
  cursor: pointer;
  &:hover {
    animation-play-state: paused;
  }
}
