.header {
  position: fixed;
  width: 100%;
  background: #fff;
  box-shadow: 0 10px 30px 0 rgb(138 155 165 / 15%);
  z-index: 999;
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 40px;
  }
  &__logo {
    width: 160px;
    img {
      width: 100%;
    }
  }
}
@media (max-width: 425px) {
  .header {
    &__logo {
      width: 120px;
      img {
        width: 100%;
      }
    }
    &__content {
      display: flex;
      padding: 24px;
    }
  }
}
