.hamburger {
  cursor: pointer;
  img {
    width: 32px;
  }
}
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  left: -100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease;
  &.active {
    left: 0;
    opacity: 1;
    visibility: visible;
  }
  &__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 345px;
    height: 100%;
    padding: 140px 40px 40px;
    background-color: #fff;
    transition: all 0.6s;
    z-index: 10;
  }
  &__close {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    img {
      width: 24px;
    }
  }
  &__list {
    padding-left: 35px;
    list-style-type: none;
  }
  &__link {
    position: relative;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 15px;
    &:before {
      content: '';
      position: absolute;
      left: -35px;
      top: 10px;
      width: 15px;
      height: 15px;
      border-radius: 100%;
      border: 1px solid #000000;
      transition: all 0.6s;
    }
    &:hover {
      &:before {
        background-color: $main-color;
      }
    }
    a {
      position: relative;
      color: $main-subcolor;
      text-decoration: none;
      transition: color 0.2s ease;
      &:hover {
        color: $main-color;
      }
      &:after {
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 2px;
        content: '';
        background-color: $main-color;
        opacity: 0;
        transition: all 0.2s ease;
      }
      &:hover:after {
        bottom: 0;
        opacity: 1;
      }
    }
  }
  &__social {
    margin: 0 auto;
    a {
      text-decoration: none;
      transition: opacity 0.2s ease;
      img {
        width: 20px;
        filter: $brightness;
      }
      &:hover {
        opacity: 0.9;
      }
    }
  }
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.75;
  }
}
@media (max-width: 425px) {
  .hamburger {
    img {
      width: 24px;
    }
  }
  .menu {
    &__block {
      width: 320px;
    }
  }
}
