.promo {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(to right, rgba(0, 98, 185, 0.8), rgba(0, 98, 185, 0.8)),
    url(../img/main_bg.svg);
  color: #fff;
  &__content {
    max-width: 768px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__title {
    color: #fff;
    font-size: 56px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  &__subtitle {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
  }
  &__btns {
    max-width: 336px;
    margin: 64px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  &__link {
    max-width: 160px;
    width: 100%;
    padding: 16px 24px;
    border-radius: 4px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    font-weight: bold;
    transition: all 0.2s ease;
    &:hover {
      color: #fff;
      text-decoration: none;
      transform: translateY(-2px);
    }
  }
  &__socials {
    position: absolute;
    top: 50%;
    margin: 0;
    border: 2px solid #fff;
    transform: translateY(-50%);
  }
  &__social-link {
    display: block;
    padding: 12px;
    list-style: none;
    border-bottom: 2px solid #fff;
    transition: background 0.2s ease;
    cursor: pointer;
    img {
      width: 24px;
      border-radius: 50%;
    }
    &:hover {
      background: rgb(255 255 255 / 15%);
    }
    &:last-child {
      border-bottom: 0;
    }
  }
  &__mouse {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    &-scroll {
      position: relative;
      width: 25px;
      height: 40px;
      border: 2px solid #f2f2f2;
      border-radius: 60px;
      overflow: hidden;
      &:before {
        content: '';
        opacity: 1;
        position: absolute;
        width: 5px;
        height: 5px;
        top: 7px;
        left: 50%;
        border-radius: 50%;
        background: #f2f2f2;
        transform: translateX(-50%);
        animation: wheel 1.2s infinite;
      }
    }
  }
}
