.title {
  font-size: 36px;
  font-weight: bold;
  // line-height: 60px;
  &_fz14 {
    font-size: 14px;
    // line-height: 21px;
  }
  &_fz16 {
    font-size: 16px;
    // line-height: 24px;
  }
  &_fz18 {
    font-size: 18px;
    // line-height: 24px;
  }
  &_fz36 {
    font-size: 36px;
    // line-height: 24px;
  }
}
